footer p {
    text-align: center; 
    margin: 0; 
    padding: 10px 0;
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
}

.section-accueil {
  background-color: #FCF9F2; 
  min-height: 100vh; 
  margin-top: 80px; 
  position: relative; 
  overflow: hidden;
}

.image-accueil {
  position: absolute;
  width: 400%;
  max-width: 1200px;
  bottom: 25px;
  left: 70%;
  transform: translateX(-50%);
}

.accueil {
  position: relative; 
  width: 45%;
  min-height: 100vh;
  padding-top: 200px;
  padding-left: 50px;
  padding-right: 20px;
}

.accueil h1 {
  font-family: 'Lexend';
  color: black;
  font-size: 3em;
  margin-bottom: 10px;
  font-weight: bold;
}

.accueil h2 {
  font-size: 1.5em;
  color: black;
  margin-bottom: 30px;
  font-weight: normal;
  font-family: 'Manrope';
}

.guillemets_bleus {
  display: block;
  font-size: 7em;
  color: #9AB3F4;
  line-height: 0.8; 
  margin-bottom: -40px;
  margin-left: -8px;
  font-family: 'Lexend';
}

.accueil p {
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Manrope';
}

@media (max-width: 1439px) {
.image-accueil {
  position: absolute;
  width: 400%;
  max-width: 1100px;
  bottom: 25px;
  left: 70%;
  transform: translateX(-50%);
  }
}

@media (max-width: 950px) {
.image-accueil {
  position: static;
  transform: none;
  left: auto;
  width: 100%;
  max-width: 800px;
  margin: 70px auto 0;
  display: block;
  }

.accueil {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 50px;
  padding-right: 20px;
  min-height: auto;
  }

.accueil p {
  margin-bottom: -20px;
  }
}

@media (max-width: 432px) {
.image-accueil {
  position: static;
  transform: none;
  left: auto;
  width: 100%;
  max-width: 800px;
  margin: -10px auto 0;
  display: block;
  }

.section-accueil {
  min-height: auto; 
  padding-bottom: 50px; 
  padding-top: 50px;
  }

.accueil {
  max-width: 450px;
  margin: 0 auto;
  width: 100%;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  }

.accueil h1 {
  font-size: 2.2em;
  margin-bottom: 5px;
  }

.accueil h2 {
  font-size: 1.2em;
  margin-bottom: 20px;
  }

.guillemets_bleus {
  font-size: 5em;
  margin-bottom: -20px;
  }

.accueil p {
  font-size: 14px;
  line-height: 1.5;
  }
}

@media (max-width: 1339px) {
.accueil {
  padding-left: 20px; 
  padding-right: 20px; 
  padding-bottom: 50px;
  }
}