* {
margin: 0;
padding: 0;
box-sizing: border-box
}

footer p {
    text-align: center; 
    margin: 0; 
    padding: 10px 0;
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
}

html {
scroll-behavior: smooth;
scroll-padding-top: 100px;
}

body {
background-color: #FCF9F2;
}

header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 5%;
box-shadow: rgba(0,0,0,0.1) 0 0 10px;
background-color: #fff;
font-family: 'Manrope';
z-index: 9999;
position: fixed;
width: 100%;
top:0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  font-family: 'Lexend', sans-serif;
  font-size: 30px;
  font-weight: 100;
  color: black;
  margin-left: 7px;
}

.logo-img {
  height: 60px;
  width: auto;
  display: block;
}

.logo-link {
    display: flex;
    align-items: center;
    transition: none;
    padding: 0;
    border-radius: 0;
}

.logo-link:hover {
    background-color: transparent;
    padding: 0;
}

.logo-link:hover .logo-img {
    filter: opacity(0.65);
    transition: filter 0.3s ease;
}

.actif {
  background-color: #9ab3f4b3;
  padding: 9px 20px;
  border-radius: 4px;
}

ul {
list-style: none;
display: flex;
}

ul li {
margin: 0 10px;
}

a {
text-decoration: none;
color:#000;
padding: 9px 20px;
transition: 0.5s;
border-radius: 4px;
}

a:hover {
background-color: #9ab3f4b3;
padding: 9px 20px;
}

.actif {
background-color: #9ab3f4b3;
border-radius: 4px;
}

@media screen and (max-width: 986px) {
body {
position: relative;
}

ul {
flex-direction: column;
position: absolute;
top: 0;
left: -1500px;
height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(255, 255, 255, 0.8);
transition: 0.5s;
backdrop-filter: blur(10px);
}

ul li {
margin: 20px 0;
}

ul li a{
text-transform: uppercase;
}

ul li a:hover{
color: #000;
}

.button{
z-index: 100;
width: 50px;
height: 50px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.button::after{
content: "";
position: absolute;
width: 35px;
height: 2px;
background-color: #000;
transform: translateY(-10px);
box-shadow: 0 10px 0 #000 ;
transition: 0.5s;
}

.button.active::after{
transform: rotate(45deg);
box-shadow: 0 0 0 #000 ;
}

.button::before{
content: "";
position: absolute;
width: 35px;
height: 2px;
background-color: #000;
transform: translateY(10px);
transition: 0.5s;
}

.button.active::before{
transform: rotate(-45deg);
}

ul.active {
left :0 ;
}
}

.galerie-travaux a.item-link:hover {
  background-color: transparent;
}

footer {
background-color: white;
padding: 20px 50px;
position: relative;
}